<div class="section" style="padding-bottom: 5px;">
    <div class="frow-container">
        <!-- <div style="text-align: center; align-items: center; ">
            <h1 class="title text-blue" style="margin-bottom: 1px; font-size:xx-large;">Resumen de casos</h1>
            <div style="width: 50%; display: block; margin: 0 auto;">
                <hr style="margin-top: 5px;">
            </div>
        </div> -->

        <div style="text-align: right; padding-bottom: 5px;">
            <h4 style="margin-bottom: 1px;"><strong>{{date}} </strong></h4>
        </div>
       
    </div>
</div>
<!-- <section class="section">
    <div class="frow-container">
        <div style="text-align: center; align-items: center;">
            <h1 class="title text-blue" style="margin-bottom: 1px;  font-size:xx-large;">Graficas</h1>
            <div style="width: 50%; display: block; margin: 0 auto;">
                <hr style="margin-top: 5px;">
            </div>
        </div>
    </div>
</section> -->

<summary-of-cases></summary-of-cases>
<cases-by-location></cases-by-location>
<accumulated-cases></accumulated-cases>
<accumulated-cases-per-day></accumulated-cases-per-day>
<cases-by-gender></cases-by-gender>
<cases-by-age></cases-by-age> 


<mat-divider></mat-divider>



