<div class="section">
    <div class="frow-container">
        <div style="text-align: center; align-items: center; ">
            <h1 class="title text-blue" style="margin-bottom: 1px; font-size:xx-large;">Nuevo caso</h1>
            <div style="width: 50%; display: block; margin: 0 auto;">
                <hr style="margin-top: 5px;">
            </div>
        </div>

        <form [formGroup]="caseForm" style="padding-top: 1em;">

            <div class="frow">
                <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                    <mat-form-field class="fluid" appearance="outline">
                        <mat-label>Nombres</mat-label>
                        <input matInput formControlName="names">
                    </mat-form-field>
                </div>
                <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                    <mat-form-field class="fluid" appearance="outline">
                        <mat-label>Apellidos</mat-label>
                        <input matInput formControlName="lastname">
                    </mat-form-field>
                </div>

            </div>
            <div class="frow">
                <div class="col-xs-1-2 col-sm-1-3 col-md-1-3">
                    <mat-form-field class="fluid" appearance="outline">
                        <mat-label>Edad</mat-label>
                        <input matInput formControlName="age" type="number">
                    </mat-form-field>
                </div>
                <div class="col-xs-1-2 col-sm-1-3 col-md-1-3">
                    <mat-form-field class="fluid" appearance="outline">
                        <mat-label>Genero</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option [value]="'1'">
                                Masculino
                            </mat-option>
                            <mat-option [value]="'2'">
                                Femenino
                            </mat-option>
                            <mat-option [value]="'3'">
                                Indefinido
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-xs-1-1 col-sm-1-3 col-md-1-3">
                    <mat-form-field class="fluid" appearance="outline">
                        <mat-label>Departamento</mat-label>
                        <mat-select formControlName="state">
                            <mat-option [value]="'1'">
                                Guatemala
                            </mat-option>
                            <mat-option [value]="'2'">
                                Escuintla
                            </mat-option>
                            <mat-option [value]="'3'">
                                Jutiapa
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
            </div>
            <mat-form-field class="fluid" appearance="outline">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="address">
            </mat-form-field>


            <div class="frow">
                <div class="col-xs-1-2 col-sm-1-2 col-md-1-2">
                    <mat-form-field appearance="outline" class="fluid">
                        <mat-label>Fecha contagio</mat-label>
                        <input matInput [matDatepicker]="contagionDate" formControlName="contagionDate">
                        <mat-datepicker-toggle matSuffix [for]="contagionDate"></mat-datepicker-toggle>
                        <mat-datepicker #contagionDate></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="col-xs-1-2 col-sm-1-2 col-md-1-2" >
                    <mat-form-field appearance="outline" class="fluid">
                        <mat-label>Fecha recuperación</mat-label>
                        <input matInput [matDatepicker]="recoveryDate" formControlName="recoveryDate">
                        <mat-datepicker-toggle matSuffix [for]="recoveryDate"></mat-datepicker-toggle>
                        <mat-datepicker #recoveryDate></mat-datepicker>
                      </mat-form-field>
                </div>
            </div>
            <mat-form-field appearance="outline" class="fluid">
                <mat-label>Descripción del caso</mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>

              <button mat-raised-button color="primary" type="submit">Guardar</button>

            <!-- <label>
              First Name:
              <input type="text" formControlName="name">
            </label>
          
            <label>
              Last Name:
              <input type="text" formControlName="lastName">
            </label> -->

        </form>

        <div class="frow row-end">
            <div class="col-sm-1-1 " style="text-align: right; padding: 1em;">
            </div>
        </div>

        <div class="frow">
            <div class="col-xs-1-1 col-sm-1-2 col-md-1-4">

            </div>
            <div class="col-xs-1-1 col-sm-1-2 col-md-1-4">

            </div>

        </div>
    </div>
</div>