<div class="section">
    <div class="frow-container">
        <div style="text-align: center; align-items: center; ">
            <h1 class="title text-blue" style="margin-bottom: 1px; font-size:xx-large;">Casos reportados</h1>
            <div style="width: 50%; display: block; margin: 0 auto;">
                <hr style="margin-top: 5px;">
            </div>
        </div>
        <div class="frow row-end">
            <div class="col-sm-1-1 " style="text-align: right; padding: 1em;">
                <button mat-raised-button color="primary">Nuevo caso</button>
            </div>
        </div>
        <table style="width: 100%;" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <a mat-icon-button aria-label="Editar caso">
                        <mat-icon >edit</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        <div class="frow">
            <div class="col-xs-1-1 col-sm-1-2 col-md-1-4">

            </div>
            <div class="col-xs-1-1 col-sm-1-2 col-md-1-4">

            </div>

        </div>
    </div>
</div>